/* config-font */
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

/* config-body */
body {
    background-color: #404862;
}

main {
    height: 70vh;

    display: flex;
    justify-content: center;
}


/* config-header */

.header-container {
    display: flex;
    justify-content: center;
}

.header-title {
    color: white;
    font-size: 3.2em;
    font-family: 'Staatliches', cursive;
}

.header-title:hover {
    cursor: pointer;
}

/* config-main */

.main-container {
    width: 50%;
    height: 85%;

    background-color: #7782A4;
    border-radius: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-boxbuttons {
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main-button {
    width: 62%;
    height: 12%;

    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 1em;

    background-color: #1A1F30;
    border: none;
    border-radius: 7px;
}

.main-button:hover {
    width: 65%;
    height: 13%;

    cursor: pointer;

    font-size: 1.2em;

    background-color: #151822;
}

.main-select {
    width: 80%;
    height: 12%;

    outline: none;
    background-color: #1A1F30;
    border: none;
    border-radius: 7px;
}

.main-containertimer {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-boxtimer {
    width: 80%;
    height: 70%;

    background-color: #7782A4;
    border-radius: 100%;

    display: flex;
    flex-direction: column;
}

.main-timercicler {
    width: 100%;
    height: 100%;
    
    background-color: #1A1F30;
    border-radius: 100%;
}

.main-boxbuttonstime {
    width: 15%;
}

.main-iconplay {
    width: 1.6%;
    height: 3.5%;

    position: absolute;
    top: 65%;
    left: 56.6%;
}

.main-iconplay:hover {
    top: 64.5%;

    cursor: pointer;
}

.main-iconpause {
    width: 1.6%;
    height: 3.5%;

    position: absolute;
    top: 65%;
    left: 60.3%;
}

.main-iconpause:hover {
    top: 64.5%;
    
    cursor: pointer;
}

.main-iconreset {
    width: 1.6%;
    height: 3.5%;

    position: absolute;
    top: 65%;
    left: 64%;
}

.main-iconreset:hover {
    top: 64.5%;
    
    cursor: pointer;
}

.main-config {
    width: 3%;
    
    position: absolute;
    top: 73%;
    left: 71%;
}

.main-config:hover {
    width: 3.2%;

    cursor: pointer;

    top: 73.1%;
    left: 70.9%;
}

/* config-responsive */

/* responsive-laptop */
/* @media (max-width: 1024px) {

} */

/* responsive-tablet */
/* @media (max-width: 638px) {

} */

/* responsive-mobile G */
/* @media (max-width: 1024px) {

} */

/* responsive-mobile M */
/* @media (max-width: 1024px) {

} */
