/* config-font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

/* config-reset */

/* config-body */
body {
    background-color: #404862;
}

main {
    height: 70vh;

    display: flex;
    justify-content: center;
}


/* config-header */

.header-container {
    display: flex;
    justify-content: center;
}

.header-title {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3.2em;
    font-weight: bold;
}

.header-title:hover {
    cursor: pointer;
}

/* config-main */

.main-container {
    width: 53%;
    height: 85%;

    background-color: #7782A4;
    border-radius: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-boxbuttons {
    width: 35%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main-button {
    width: 62%;
    height: 12%;

    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    font-weight: 600;

    background-color: #1A1F30;
    border: none;
    border-radius: 7px;
}

.main-button:hover {
    width: 65%;
    height: 13%;

    cursor: pointer;

    font-size: 1.2em;

    background-color: #151822;
}

.main-select {
    width: 80%;
    height: 12%;

    outline: none;
    background-color: #1A1F30;
    border: none;
    border-radius: 7px;
}

.main-containertimer {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-boxtimer {
    width: 80%;
    height: 70%;

    background-color: #7782A4;
    border-radius: 100%;

    display: flex;
    justify-content: center;
}

.main-timercicler {
    width: 100%;
    height: 100%;

    background-color: #1A1F30;
    border-radius: 100%;
}

.main-boxbuttonstime {
    width: 12%;
    height: 8%;

    position: absolute;
    top: 60%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-iconplay {
    width: 12%;
    height: 40%;
}

.main-iconplay:hover {
    cursor: pointer;
}

.main-iconpause {
    width: 12%;
    height: 40%;
}

.main-iconpause:hover {
    cursor: pointer;
}

.main-iconreset {
    width: 12%;
    height: 40%;
}

.main-iconreset:hover {
    cursor: pointer;
}

.main-config {
    width: 3%;

    position: absolute;
    top: 73%;
    left: 71%;
}

.main-config:hover {
    width: 3.2%;

    cursor: pointer;

    top: 73.1%;
    left: 70.9%;
}

/* config-responsive */

/* responsive-laptop */

@media (max-width: 1024px) {

    /* config-main */

    .main-container {
        width: 55%;
    }

    .main-button {
        font-size: 0.8em;
    }

    .main-button:hover {
        font-size: 1em;
    }

    .main-boxbuttonstime {
        top: 65%;
    }

    .main-config {
        top: 76%;
    }
}

/* responsive-tablet */
@media (max-width: 768px) {

    /* config-main */

    .main-container {
        width: 70%;
    }

    .main-boxbuttonstime {
        width: 15%;
    }

    .main-config {
        width: 4%;

        top: 76.5%;
        left: 78%;
    }

}

/* responsive-mobile G */

@media (max-width: 425px) {

    /* config-main */

    .main-container {
        width: 100%;
        height: 65%;

        border-radius: 20px;
    }

    .main-button {
        font-size: 0.6em;
        
        border-radius: 5px;
    }

    .main-button:hover {
        font-size: 0.8em;
    }    

    .main-boxtimer {
        width: 80%;
        height: 70%;
    }

    .main-boxbuttonstime {
        width: 20%;

        top: 58%;
    }

    .main-iconplay {
        width: 20%;
    }

    .main-iconpause {
        width: 20%;
    }

    .main-iconreset {
        width: 20%;
    }

    .main-config {
        width: 6%;

        top: 65%;
        left: 90%;
    }

}

/* responsive-mobile M */

@media (max-width: 375px) {
    
    /* config-main */

    .main-button {
        font-size: 0.5em;
    }

    .main-button:hover {
        font-size: 0.6em;
    }

    .main-boxtimer {
        width: 80%;
        height: 60%;
    }

    .main-boxbuttonstime {
        top: 55%;
    }

    .main-iconplay {
        width: 15%;
        height: 30%;
    }

    .main-iconpause {
        width: 15%;
        height: 30%;
    }

    .main-iconreset {
        width: 15%;
        height: 30%;
    }

    .main-config {
        top: 65.5%;
    }
}

/* responsive-mobile P */

@media (max-width: 320px) {
    
    /* config-main */

    .main-container {
        height: 50%;

        border-radius: 10px;
    }

    .main-boxtimer {
        width: 80%;
        height: 70%;
    }

    .main-boxbuttonstime {
        width: 20%;

        top: 50%;
    }

    .main-iconplay {
        width: 16%;
        height: 25%;
    }

    .main-iconpause {
        width: 16%;
        height: 25%;
    }

    .main-iconreset {
        width: 16%;
        height: 25%;
    }

    .main-config {
        width: 6%;

        top: 57%;
        left: 90%;
    }    

}
